.list-item {
    padding: 7px 0;
    cursor: pointer;
}

.list-item:hover {
    background-color: #eeeeee;
}

.hotel-name {
    color: rgb(240, 116, 71);
    font-size: 20px;
    font-weight: 500;
}

.hotel-distance {
    color: #7d7d7d;
    font-size: 14px;
}