.button-container {
    width: max-content !important;
    color: inherit;
}

.button-container:hover {
    color: inherit;
    cursor: pointer;
}

.button-text {
    display: inline;
    font-size: 20px;
    width: fit-content;
    white-space: nowrap;
}