.list-button-container {
    width: max-content !important;
    color: inherit;
}

.list-button-container:hover {
    color: inherit;
    cursor: pointer;
}

.list-button-text {
    display: inline;
    font-size: 18px;
    width: fit-content;
    white-space: nowrap;
}