.quantity {
    color: #3c81db;
    width: fit-content;
    display: inline;
}

.quantity-minus {
    display: inline;
    cursor: pointer;
}

.quantity-value {
    display: inline;
    font-size: 20px;
}

.quantity-plus {
    display: inline;
    cursor: pointer;
}

.circle-on-hover {
    padding: 2px;
}

.circle-on-hover:hover {
    background-color: #f1f1f1;
    border-radius: 50%;
    -webkit-transition: background-color 150ms ease-in;
    -ms-transition: background-color 150ms ease-in;
    transition: background-color 150ms ease-in;
}