.origin-icon {
    cursor: pointer;
    color: red;
}

.poi-icon {
    cursor: pointer;
    color: rgb(1, 208, 254);
}

.origin-icon:hover {
    color: rgb(173, 0, 0);
}

.poi-icon:hover {
    color: #028eac;
}