.submissionFrame {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 20%;
    max-width: 300px;
    min-width: 250px;
    height: 94%;
    max-height: 94%;

}

@media only screen and (max-height: 600px) {
    .input-header {
        display: none;
    }
}

.input-frame {
    margin: 8px;
    height: calc(100% - 16px);
}

.input-header {
    height: 58px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.input-title {
    font-size: 32px;
}

.input-body {
    height: calc(100% - 160px - 1%);
    overflow-y: auto;
    overflow-x: hidden;
}

.input-bottom {
    position: absolute;
    bottom: 1%;
    width: calc(100% - 16px);
    height: 160px;
}

.input-bottom-inputs {
    padding-top: 10px;
}

.input-submit {
    margin: 5px 0;
}

.input-maxdist {
    margin: 0 0 15px 0;
}

.input-city {
    margin: 5px 0;
}

.input-poi {
    margin: 20px 0;
}