.settings-frame {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 8px -2px #000000; 
    box-shadow: 3px 3px 8px -2px #000000;
}

.settings-title {
    font-size: 21px;
    font-weight: bold;
    margin: 20px 0 5px 10px;
}

.settings-option {
    margin: 10px 0 5px 10px;
}