.route-container {
    position: fixed;
    top: calc(1% + 65px);
    right: 1%;
    width: 20%;
    height: 60%;
    background-color: white;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.route-header {
    padding: 10px 0;
}

.route-header-title {
    font-size: 25px;
}

.nav-button {
    cursor: pointer;
    color: rgb(240, 116, 71);
}

.nav-button-disabled {
    color: lightgray;
    text-align: center;
}